.menu-icon,.photo{
    height :30px;
}
.photo{
    outline-color:bg-dark;
}
.leftside{
   font-variant:initial;;
    font-family: 'Roboto', sans-serif;
}
.leftside1{   
    
    font-family: 'Roboto', sans-serif;
}
.picture{
    height:550px;
    width:800px;
}
.whatsapp{
    height :45px;
}

.search-icon,
.voice-search-icon {
	height: 35px;
}

.search-box {
	border-radius: 30px;
}
.search-bar {
	outline: none;
}

